body {
    color: #575656;
    margin-left: 100px;
}

h2 {
    color: #c9c6c6;
}

input[type="submit"] {
    padding: 2px 5px 2px 5px;
    font-size: 15px;
    margin-left: 20px;
    font-weight: 600;
}

.form-input, select {
    padding: 2px 5px 2px 5px;
    font-size: 17px;
}

select {
    margin-left: 20px;
}

dl {
    display: inline-block;
    margin-top: 0;
}

ul {
    width: 800px;
    padding-left: 0;
}

li {
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 40px;
}

li:hover {
    background-color: #EEE;
}

a {
    text-decoration: none;
    color: #575656;
}

.list-item-label {
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
    width: 300px;
    display: inline-block;
}

.action-link{
    font-weight: 500;
    font-size: 18px;
    color: #ED6A5A;
}