@(choiceId: Long, name: String, universalValue: String, value: Double)

<div class="choice-wrapper">
    <input class="choice-name form-input" type="text" value="@name" placeholder="Name"/>
    <input class="choice-universal form-input" type="text" value="@universalValue" placeholder="UniversalValue"/>
    <input class="choice-value form-input" type="text" value="@value" placeholder="Value"/>
    <input type="hidden" class="choice-id" value="@choiceId">
    <a class="update-choice" href="#">update</a>
</div>