@import java.util
@import models.forms.PartialPollChoiceForm
@import models.forms.PartialPollForm
@(pollForm: Form[PartialPollForm], pollChoices: util.List[PartialPollChoice], choiceForm: Form[PartialPollChoiceForm])

@main("AllPolls Admin Area") {
    <div>
    @if(pollForm != null) {
        @helper.form(action = routes.AdminController.updatePartialPoll(), 'id -> "myForm") {

            @helper.inputText(pollForm("pollster"), '_label -> "Pollster:")
            @helper.inputText(pollForm("provider"), '_label -> "Provider:")

            <input type="hidden" name="id" value="@pollForm.get().getId"/>
            <input type="submit">
            }

    }
    </div>
    <div>
        <ul>
        @for(choice <- pollChoices) {
            <li>@partial_choice_view(choice.getName, choice.getUniversalValue, choice.getValue)</li>
        }
        </ul>
    </div>
    <div>
    @if(choiceForm != null) {
        @helper.form(action = routes.AdminController.showPollsList(), 'id -> "myForm2") {
            @helper.inputText(choiceForm("name"), '_label -> "Name:")
            @helper.inputText(choiceForm("universalValue"), '_label -> "UniversalValue:")
            @helper.inputText(choiceForm("value"), '_label -> "Value:")
            <input type="hidden" name="partialId" value="@pollForm.get().getId"/>

            <input type="submit">
            }

    }
    </div>
}