@import models.forms.PartialPollForm
@(poll: Poll, partialForm: Form[PartialPollForm])

@main("AllPolls Admin Area") {
    <div>
    @if(partialForm != null) {
        @helper.form(action = routes.AdminController.createPartialPoll(), 'id -> "myForm2") {
            @helper.inputText(partialForm("provider"), '_label -> "Provider:")
            @helper.inputText(partialForm("pollster"), '_label -> "Pollster:")
            <input type="hidden" name="pollId" value="@poll.getId"/>

            <input type="submit">
            }

    }
    </div>
    <div>
    @if(poll != null) {
        <h1>@poll.getTopic</h1>

        <ul>
        @for(partial <- poll.getPartialPolls) {
            <li>
                <a href="@routes.AdminController.showPartialPoll(partial.getId)">@partial.getPollster</a>
                <a href="#" class="toggle-partial-active"> @if(partial.isActive){ deactivate }else{ activate }
                </a>
                <input type="hidden" class="partial-id" value="@partial.getId">
            </li>
        }
        </ul>

    }
    </div>
}