@import java.util
@(polls: util.List[Poll], pollForm: Form[forms.PollForm])

@main("AllPolls Admin Area") {
    <div>
    @if(pollForm != null) {
        @helper.form(action = routes.AdminController.createPoll(), 'id -> "myForm") {

            @helper.inputText(pollForm("topic"), '_label -> "Topic:")
            @helper.inputText(pollForm("remoteId"), '_label -> "RemoteId:")
            @helper.inputText(pollForm("location"), '_label -> "Location:")

            <input type="submit">
            }

    }
    </div>
    <div>
    @if(polls != null) {
            <ul>
            @for(poll <- polls) {
                <li>
                    <a href="@routes.AdminController.showPoll(poll.getId)">@poll.getTopic</a>
                    <a href="#" class="toggle-poll-active"> @if(poll.isActive){ deactivate }else{ activate }
                    </a>
                    <input type="hidden" class="poll-id" value="@poll.getId">

                </li>
            }
            </ul>

    }
    </div>
}